@font-face {
  font-family: "Josefin Sans";
  font-weight: 300;
  src: local("JosefinSans-Light"),
    url("./assets/fonts/josefin-sans-v32-latin-300.woff2"),
    url("/assets/fonts/josefin-sans-v32-latin-300.woff");
}

@font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  src: local("JosefinSans-Regular"),
    url("/assets/fonts/josefin-sans-v32-latin-regular.woff2"),
    url("/assets/fonts/josefin-sans-v32-latin-regular.woff");
}

@font-face {
  font-family: "Josefin Sans";
  font-weight: 600;
  src: local("JosefinSans-SemiBold"),
    url("./assets/fonts/josefin-sans-v32-latin-600.woff2"),
    url("./assets/fonts/josefin-sans-v32-latin-600.woff");
}

/* --------------- CSS Reset --------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 0.125rem dotted var(--clr-primary-700);
  outline-offset: 0.125rem;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  font: inherit;
}

/* --------------- CSS Variables --------------- */
:root {
  --clr-primary-700: #ce9898;
  --clr-primary-900: #423a3a;

  --clr-secondary-600: #f96464; /* Error state */
  --clr-neutral-700: rgba(206, 152, 152, 0.5); /* Input border & placeholder */

  --ff-josefin-sans: "Josefin Sans", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600;

  --fs-100: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-900: 2.5rem;
}

/* --------------- Utility Classes --------------- */
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* --------------- End of Utility Classes --------------- */

.body {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  grid-auto-rows: max-content;

  font-family: var(--ff-josefin-sans);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  background: linear-gradient(#ffffff, #fff4f4);
}

.header {
  padding: 2rem;
}

.logo-img {
  width: 6.25rem;
  height: 1.3125rem;
}

.picture {
  width: 100%;
  height: 100%;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  max-width: 23.5rem;
  padding: 0 2rem;
  margin-top: 4rem;
}

.content-wrapper {
  gap: 1rem;
  text-align: center;
}

.title {
  font-size: var(--fs-900);
  font-weight: var(--fw-semibold);
  letter-spacing: 0.678rem;
  line-height: 1.05;
  text-transform: uppercase;
  color: var(--clr-primary-900);
}

.title-selection {
  font-weight: var(--fw-light);
  color: var(--clr-primary-700);
}

.text {
  line-height: 1.57;
  color: var(--clr-primary-700);
}

.form {
  width: 100%;
}

.input-wrapper {
  display: grid;
  /* grid-template-columns: 1fr auto; */
  grid-template-columns: 1fr 1.5rem auto;
  gap: 0 0.5rem;
  border: 0.0625rem solid var(--clr-neutral-700);
  border-radius: 28px;
  margin-top: 1rem;
}

/* If the input is focused */
.input-wrapper:has(.input-email:focus) {
  outline: 0.125rem dotted var(--clr-primary-700);
  outline-offset: 0.125rem;
}

/* If the input is invalid, but not focused */
.input-wrapper:has(.input-email[aria-invalid="true"]) {
  border-color: var(--clr-secondary-600);
}

/* If the input is invalid and also focused */
.input-wrapper:has(.input-email[aria-invalid="true"]:focus) {
  border-color: var(--clr-secondary-600);
  outline: 0.125rem dotted var(--clr-secondary-600);
  outline-offset: 0.125rem;
}

.input-email {
  color: var(--clr-primary-900);
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 1.25rem;
}

.input-email::placeholder {
  color: var(--clr-neutral-700);
}

.btn-submit {
  width: 4rem;
  height: 3rem;
  justify-content: center;
  background-image: linear-gradient(90deg, #f8bfbf, #ee8b8b);
  border: none;
  border-radius: 28px;
}

.btn-submit:hover {
  cursor: pointer;
  background-image: linear-gradient(90deg, #f6d2d2, #f8bfbf);
}

.error {
  font-size: var(--fs-100);
  text-align: left;
  color: var(--clr-secondary-600);
  margin-top: 0.5rem;
  padding-left: 1.25rem;
}

.error-icon {
  visibility: hidden;
  width: 1.5rem;
  height: 1.5rem;
  justify-self: center;
  align-self: center;
}

.show-icon {
  visibility: visible;
}

/* --------------- Media Queries --------------- */
@media (min-width: 64rem) {
  :root {
    --fs-400: 1rem;
    --fs-900: 4rem;
  }

  .body {
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto 1fr;
  }

  .header {
    padding: 4rem clamp(2rem, 11.38vw, 10.25rem);
  }

  .logo-img {
    width: 9.875rem;
    height: 2rem;
  }

  .aside {
    grid-column: 2;
    grid-row: span 2;
  }

  .main {
    max-width: 100%;
    margin-top: 4.4rem;
    padding: 0 clamp(2rem, 11.38vw, 10.25rem);
  }

  .content-wrapper {
    max-width: 27.5rem;
    text-align: left;
    gap: 1.2rem;
  }

  .title {
    line-height: 1.08;
    letter-spacing: 1.0825rem;
  }

  .text {
    line-height: 1.75;
  }

  .input-wrapper {
    margin-top: 1.4rem;
  }

  .input-email {
    padding: 1rem 2rem;
  }

  .btn-submit {
    width: 6.25rem;
    height: 3.3rem;
  }

  .error {
    margin-top: 0.75rem;
    padding-left: 2rem;
  }
}
